---
import { Icon } from 'astro-icon/components'

interface Props {
  href: string
  target?: string
}

const { href, target } = Astro.props
---

<a
  href={href}
  target={target || '_blank'}
  rel='noopener noreferrer'
  class='h-12 inline-flex items-center justify-center px-8 text-sm font-medium border border-light-blue-300 rounded-lg hover:bg-teal-400/10 dark:text-accent'>
  <slot>Ver más...</slot>
  <Icon name='mdi:arrow-right' class='animate-bounce-x ml-5' />
</a>
