---
import About from "./SectionAbout.astro";
import Section from "./SectionContainer.astro";
import Experience from "./SectionExperience.astro";
---

<main class="lg:w-1/2 lg:py-28 flex flex-col gap-y-28" id="menu">
  <Section id="about">
    <About />
  </Section>

  <Section id="experience">
    <Experience />
  </Section>
</main>
