---
import Section from './Section.astro'
import { SECTIONS } from './Sections'
---

<main class='lg:w-1/2 lg:my-28 mb-16 flex flex-col gap-y-24' id='menu'>
  {
    SECTIONS.map(({ id, name, component: Component }) => (
      <Section id={id}>
        <h2 class='subtitle'>{name}</h2>
        {<Component />}
      </Section>
    ))
  }
</main>
