---
import TimeLine from "../TimeLine/Index.astro";

const projects = [
  {
    title: "ACAP",
    link: { label: "Kainos AR", url: "https://kainos.com" },
    date: "Octubre 2022",
    location: "CABA",
    description: [
      "Las Actividades de Aproximación al mundo del trabajo fue una experiencia en la que se realizó un proyecto de desarrollo de software en equipo, con el objetivo de acercarnos a la realidad de una empresa de desarrollo de software.",

      "Fue donde aprendí las tecnologías y herramientas que utilizan en la empresa realizando practicas en equipo para resolver distintos desafíos.",

      "Ademas, manejamos el sistema financiero que utiliza la empresa y tuvimos pequeños módulos sobre empleabilidad para mejorar nuestro perfil laboral.",
    ],
    tags: ["XML", "XSLT", "Oxygen", "Workday"],
  },
];
---

<h2 class="subtitle">experiencia</h2>
<TimeLine data={projects} />
