<h2 class='subtitle'>acerca de</h2>

<p class='paragraph'>
  Comencé de forma autodidacta aprendiendo desarrollo web desde el
  <strong>Front-End</strong> con los principales lenguajes y tecnologías para desarrollar
  paginas webs.
</p>

<p class='paragraph'>
  Actualmente soy estudiante de la Tecnicatura en Programación de la
  <b>UTN</b> donde me adentre de fondo en <strong>Back-End</strong>.
</p>

<p class='paragraph'>
  Me gusta mucho aprender y experimentar con nuevas tecnologías, y siempre estoy
  en la búsqueda de nuevos desafíos. Estoy abierto a propuestas laborales y
  proyectos freelance.
</p>
