---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Hero.astro'
import Sections from '../components/Main.astro'
---

<Layout>
  <div class='lg:px-24 lg:py-0 md:px-12 md:py-20'>
    <div class='lg:flex lg:justify-between lg:gap-4 relative'>
      <Header />
      <Sections />
    </div>
  </div>
</Layout>
