---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Sections from '../components/Main.astro'

const URL = 'https://raw.githubusercontent.com/EM40a/Resume/data/resume.json'
const response = await fetch(URL)
const data = await response.json()
const { basics } = data
---

<Layout>
  <div class='lg:px-24 lg:py-0 md:px-12 md:py-20'>
    <div class='lg:flex lg:justify-between lg:gap-4'>
      <Hero {basics} class='lg:fixed top-0 left-0' />
      <Sections {...data} />
    </div>
  </div>
</Layout>
