<div class='absolute lg:hidden left-0 top-0 -z-10 h-full w-full'>
  <div class='relative h-full w-full dark-blue-500'>
    <div
      class='absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#7de2d130_1px,transparent_1px),linear-gradient(to_bottom,#7de2d130_1px,transparent_1px)] bg-[size:32px_48px] [mask-image:radial-gradient(ellipse_70%_45%_at_50%_0%,#000_70%,transparent_100%)]'>
    </div>
  </div>
</div>
