---
import { Icon } from 'astro-icon/components'

interface Props {
  href: string
  target?: string
  class?: string
}

const { href, target = '_blank' } = Astro.props as Props
---

<a
  href={href}
  target={target}
  rel='noopener noreferrer'
  aria-label='Bot칩n para ver m치s informaci칩n'
  class:list={[
    'h-12 inline-flex items-center justify-center px-8 text-sm font-medium border border-light-blue-300 rounded-md hover:bg-teal-400/10 dark:text-accent',
    Astro.props.class,
  ]}>
  <slot>Ver m치s...</slot>
  <Icon
    aria-label='Abrir link en una nueva ventana'
    name='mdi:arrow-right'
    class='animate-bounce-x ml-5'
  />
</a>
