---
const currentYear = new Date().getFullYear()
---

<footer class='fixed bottom-0 left-0 w-full backdrop-blur-md z-20'>
  <div class='w-full max-w-screen-xl mx-auto px-4 pb-4 md:pb-10'>
    <hr
      class='m-4 mt-0 border-gray-200 sm:mx-auto dark:border-gray-700 lg:mb-8'
    />
    <span class='block text-sm text-gray-500 sm:text-center dark:text-gray-400'>
      © {currentYear}
      <a
        href='https://github.com/Em40a'
        target='_blank'
        class='hover:underline'>
        EM40a™
      </a>. Algunos derechos reservados.
    </span>
  </div>
</footer>
