---
interface Props {
  class?: string
  id?: string
  subtitle: string
}

const { id, subtitle } = Astro.props as Props
---

<section
  {id}
  {...Astro.props}
  class:list={['flex flex-col', Astro.props.class]}>
  <h2 class='subtitle'>{subtitle}</h2>
  <slot />
</section>
