---
import Item from './Item.astro'

interface Props {
  data: any[]
}

const { data } = Astro.props
---

<ol class='relative border-s border-gray-200 dark:border-gray-700'>
  {
    data.map(d => (
      <li class='mb-10 ms-4'>
        <Item {...d} />
      </li>
    ))
  }
</ol>
