---
import { ViewTransitions } from 'astro:transitions'
import Background from '../components/Background.astro'
import MetaTags from '../components/MetaTags.astro'
import { Icon } from 'astro-icon/components'
import '@fontsource-variable/geologica'

const {
  title = 'EM40a - Desarrollador y Programador Full-Stack',
  description = 'Soy un programador Full-Stack, con experiencia en el desarrollo de aplicaciones web. Me gusta aprender nuevas tecnologías y aplicarlas en mis proyectos. Soy un apasionado de la tecnología y me gusta estar al día con las últimas tendencias.',
  img = '/Preview.webp',
  url = Astro.url,
} = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <MetaTags {...{ title, description, img, url }} />
    <ViewTransitions />
  </head>
  <body class='bg-dark-blue-500' transition:persist>
    <Background />

    <header class='md:fixed md:top-0 w-full'>
      <nav class='py-4 flex justify-end w-11/12 mx-auto max-w-screen-xl'>
        <a
          href='https://github.com/em40a/resume'
          target='_blank'
          rel='noopener noreferrer'
          class='opacity-75 hover:opacity-100'
          title='Repositorio'>
          <Icon
            aria-label='Repositorio del portafolio'
            class='size-8'
            name='mdi:github'
          />
        </a>
      </nav>
    </header>

    <div
      class='container max-w-screen-xl mx-auto w-11/12'
      transition:animate='slide'>
      <slot />
    </div>

    <script type='module' src='/scripts/App.js'></script>
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      @media (prefers-reduced-motion: reduce) {
        body {
          @apply scroll-auto;
        }
      }

      html {
        @apply scroll-smooth font-Geologica text-white;
      }

      ::-webkit-scrollbar {
        @apply bg-transparent rounded w-1;
      }

      ::-webkit-scrollbar-thumb {
        @apply bg-accent rounded;
      }

      ::selection {
        @apply bg-accent text-dark-blue-500;
      }

      .subtitle {
        @apply md:my-4 mb-4 uppercase text-lg text-light-blue-300 lg:text-xl text-balance tracking-wider;
      }

      .paragraph {
        @apply font-normal text-pretty mb-4;
      }

      strong {
        @apply text-accent font-bold;
      }
    </style>
  </body>
</html>
