---
import Footer from "../components/Footer/Index.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <script>
    console.log("¿Estás buscando algo?");
  </script>

  <body class="bg-dark-blue-500 font-Onest">
    <!-- Background from: https://bg.ibelick.com/ -->
    <div class="fixed left-0 top-0 -z-10 h-full w-full text-[#7de2d120]">
      <div class="relative h-full w-full dark-blue-500">
        <div
          class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#7de2d130_1px,transparent_1px),linear-gradient(to_bottom,#7de2d130_1px,transparent_1px)] bg-[size:32px_48px] [mask-image:radial-gradient(ellipse_70%_45%_at_50%_0%,#000_70%,transparent_100%)]"
        >
        </div>
      </div>
    </div>
    <div class="mx-auto min-h-screen w-[90%] max-w-screen-xl">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;500;700&display=swap");
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }

  :root {
    color-scheme: light dark;
  }

  @media (prefers-reduced-motion: reduce) {
    body {
      @apply scroll-auto;
    }
  }

  ::-webkit-scrollbar {
    @apply bg-transparent rounded w-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent rounded;
  }

  ::selection {
    @apply bg-accent text-dark-blue-500;
  }

  .subtitle {
    @apply md:my-4 mb-4 uppercase text-lg text-light-blue-300 lg:text-xl text-balance tracking-wider;
  }

  .paragraph {
    @apply font-normal text-pretty mb-4;
  }

  strong {
    @apply text-accent font-bold;
  }
</style>
